<h1>Listado de Productos: {{cant}} encontrados</h1>

<ul>
	{{#each products}}
		<li>{{this.code}} - {{this.description}} - $ {{this.price}}</li>
	{{/each}}
</ul>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>
